<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .nav-item {
            margin: 5px;
        }

        .xyz {
            width: 250px;
            height: 100px;
            margin: auto;
        }

        button {
            margin: 10px
        }

        a {
            text-decoration: none;
        }

        .xyz {
            padding-top: 100px
        }

        .a {
            text-align: center;
        }

        body {
            height: 100vh;
            width: 100%;
            margin: 0;
            /* background: rgb(63, 137, 251); */
            background: linear-gradient(-135deg, #E97777, #CF0A0A);
            /* color: rgba(63, 137, 251, 1); */

        }

        html,
        body {
            max-width: 100%;
            overflow-x: hidden;
            background: linear-gradient(-135deg, #E97777, #CF0A0A);
        }

        a {
            text-decoration: none;
            color: rgba(63, 137, 251, 1);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        ul {
            list-style: none;
        }

        a,
        button {
            font-weight: bold;
        }

        /* navbar */
        .navbar {
            background-color: #FFFFFF;
            padding-top: 10px;
            border-top: 5px solid;
            border-image: -webkit-linear-gradient(rgba(0, 117, 255, 1), rgba(0, 255, 235, 1));
            padding-bottom: 10px;
        }

        .flex {
            display: flex;
            justify-content: center;
        }

        .flex .item {
            text-align: center;
            justify-content: center;
            font-size: 18px;
            margin-left: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .item a:hover {
            background: -webkit-linear-gradient(rgba(0, 117, 255, 1), rgba(0, 255, 235, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: underline;
        }

        .hover-underline {
            display: inline-block;
            position: relative;
            color: #0087ca;
        }

        .hover-underline:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        .hover-underline:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        /* navbar */
        .container {
            padding: 20px;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            /* background-color:rgba(255,255,255,0.13); */
            background-color: #FFFFFF;
            padding: 20px;
            width: 60%;
            margin: 0 auto;
            margin-top: 70px;
            margin-bottom: 150px;
            padding-bottom: 30px;
        }

        .backBtn {
            display: inline-block;
            position: relative;
            margin-top: 15px;
            margin-right: 15px;
        }

        .backBtn:hover {
            opacity: 0.5;
        }

        .head2 {
            font-size: 24px;
            font-weight: bold;
        }

        #names {}

        h1 {
            display: inline-block;
            font-size: 42px;
            background: -webkit-linear-gradient(rgba(0, 117, 255, 1), rgba(0, 255, 235, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }

        .button_slide {
            color: rgba(63, 137, 251, 1);
            border: 2px solid rgba(0, 255, 235, 1);
            border-radius: 20px;
            padding: 18px 36px;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
            box-shadow: inset 0 0 0 0 rgba(63, 137, 251, 1);
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;
        }

        .slide_left:hover {
            box-shadow: inset 0 0 0 50px rgba(63, 137, 251, 1);
            color: #FFFFFF;
        }

        .butn {
            background-color: transparent;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        #names {
            background: -webkit-linear-gradient(rgba(0, 117, 255, 1), rgba(0, 255, 235, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        /* text input */
        .input-box {
            width: 200px;
            margin-top: 10px;
            margin: 30px auto;
        }

        .input-box label {
            margin-right: 111px;
            font-weight: 600;
        }

        .form-input {
            margin-bottom: 10px;
            padding: 5px;
            width: 200px;
            border: 0.5px solid rgba(0, 255, 235, 1);
        }

        .form-input:hover {
            border: 1px solid rgba(0, 117, 255, 1);
        }

        a .btn {
            margin: 30px;
            border-radius: 25px
        }
    </style>
</head>

<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th style="text-align: center;" colspan="8"><h3>PATIENT DETAILS</h3></th>
                  
                </tr>
              </thead>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Blood</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <%=name %>
                    </th>
                    <td>
                        <%=mode %>
                    </td>
                    <td>
                        <%=blood %>
                    </td>
                    <td>
                        <%= phone %>
                    </td>
                    <td>
                        <%= address %>
                    </td>
                    <td>
                        <%= city %>
                    </td>
                    <td>
                        <%= state %>
                    </td>
                    <td>
                        <%= country %>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>